/* #maindiv{
    background-color: rgb(184, 220, 163);
    height: 200px;
    width: 300px;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
#seconddiv{
    display: flex;
    justify-content: space-between;
}
div img{
    background-color: aqua;
    margin-left: 100px;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
}
div button{
    background-color: green;
    max-width: fit-content;
    margin-left: 100px;
    

}
p{
    display: flex;
    margin-left: 300px;
    font-size: 200px;
}
button{
    font-size: 20px;
} */
 /* *{
    background-color: rgb(209, 209, 55);
 }
 img{
    height: 100px;
    width: 100px;
 } */